body {
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 1.5em;
}

#header {
    position: relative;
    background-image: url('marble.jpg');
    width: 100vw;
    height: 100vh;
}

p {
    position: absolute;
    display: block;
    text-align: center;
    opacity: 1;
    margin-left: 45vw;
    margin-right: 43vw;
    margin-top: 40vh;
}

#button_arrow {
    position: absolute;
    /* why when width:50%; it disappears*/
    opacity: 1;
    text-align: center;
    display: inline;
    margin-left: 45vw;
    margin-right: 43vw;
    margin-top: 75vh;
}


/* #all {
    background-color: white;
    width: 100vw;
    height: 100vh;
}*/

#all_projects {
    /*position:absolute;*/
    /* background-color: #0c0c37; */
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3%;
}

#PRINTPROJECTS {
    /*position:absolute;*/
    background-color: darkred;
    width: 100vw;
    height: 100vh;
    grid-gap: 3%;
}

#ANIMATIONPROJECTS {
    /*position:absolute;*/
    background-color: green;
    width: 100vw;
    height: 100vh;
    grid-gap: 3%;
}

#DIGITALPROJECTS {
    /*position:absolute;*/
    background-color: yellow;
    width: 100vw;
    height: 100vh;
    grid-gap: 3%;
}

#VIDEOSPROJECTS {
    /*position:absolute;*/
    background-color: orange;
    width: 100vw;
    height: 100vh;
    grid-gap: 3%;
}

#goback_button {
    position: absolute;
    width: 15vw;
    height: 5vh;
    color: white;
    border: 1px solid;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    display: inline;
    margin-left: 43vw;
    margin-right: 43vw;
    margin-top: 85vh;
}

#menu {
    position: absolute;

    background-color: #BCDDC7;
    width: 100vw;
    height: 5vh;


}

#menu ul {
    margin-top: 1vh;
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 3vh;
}

#menu a {
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    text-decoration: none;
    color: white;
    text-align: center;
}

.Menu show{
    opacity:1;
}

.Menu hide{
    opacity:0;
}

#menu_projects {
    position: absolute;

    background-color: #BCDDC7;
    width: 100vw;
    height: 5vh;


}

#menu_projects ul {
    margin-top: 1vh;
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 3vh;
}

#menu_projects a {
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    text-decoration: none;
    color: white;
    text-align: center;
}





/*////////////DEBUT DE LA MERDE !!!! //////////////*/

.Vignettes_all {
    overflow: hidden;
    border: 0.5vw solid #0c0c37;
}

#all_images {
    margin-top: 10%;
    margin-bottom: 30%;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 50%;
    text-align: center;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
   /* background-color: azure; */
    grid-gap: 2%;
   /* overflow: hidden; */
    /*border: solid #0c0c37;*/
}

#VignetteDrum {
    grid-column: 8/11;
    grid-row: 1/2;
    width: 100%;
}

#VignetteFirstWeb {
    grid-column: 6/8;
    grid-row: 2/3;
    width: 100%;
}

#VignetteFlatDesign {
    grid-column: 6/8;
    grid-row: 1/2;
    width: 100%;
}

#VignetteWhale {
    grid-column: 2/4;
    grid-row: 2/3;
    width: 100%;
}

#VignetteLoveStory {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
}

#VignettePizza {
    grid-column: 11/13;
    grid-row: 1/3;
    width: 100%;
}

#VignetteRafaelo {
    grid-column: 4/6;
    grid-row: 2/3;
    width: 100%;
}

#VignetteSomeHot {
    grid-column: 3/6;
    grid-row: 1/2;
    width: 100%;
}

#VignetteSpritesheet {
    grid-column: 8/11;
    grid-row: 2/3;
    width: 100%;
}
